<!DOCTYPE html>
<html >
  <head>
  
	<title>Whiteboard</title>

	<link href="css/whiteboard.css" rel="stylesheet">
	<link href="css/sidenav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	

  </head>
  <body ng-app="app">



       
	<canvas width="1600"  height="800" id="canvas" drawing></canvas>
	





	<div class="top-tool-bar">
			<div class="color-group" ng-controller="colorCtrl">
					<label id="color" >Color</label>


					

			<select ng-change="GetColor()" ng-model="selected">
					<option value="black" style="background-color: black" selected="selected">black</option>
					<option value="blue" style="background-color: blue" >blue</option>
					<option value="red" style="background-color: red">red</option>
					<option value="green" style="background-color: green">green</option>
					<option value="yellow" style="background-color: yellow">yellow</option>
					<option value="gray" style="background-color: gray">gray</option>
				</select>
				
			<label id="color" >  Line Width</label>
				
			<select ng-change="GetWidth()" ng-model="selected">
					<option value="1">1</option>
					<option value="3" selected="selected">3</option>
					<option value="5">5</option>
					<option value="7">7</option>
					<option value="9">9</option>
					<option value="11">11</option>
			</select>

	
	

   
	<div class="icon-bar" ng-controller="pencliCtrl">
		<button type="button" ng-click="getPencil()"><i class="fa fa-pencil" ></i></button>
		<button type="button"><i class="fa fa-paint-brush"></i></button>
		<button type="button"><i class="fa fa-eraser"></i></button>
		<button type="button"><i class="fa fa-globe"></i></button>
        <button type="button"><i class="fa fa-trash"></i></button>
        
	
	  </div>

  </body>
</html>